/*queries*/

@media only screen and (max-width: 1200px) {
/*    1page*/
    .text {
        padding-top: 5%;
    }
    .description {
        padding-top: 10%;
    }
    .hamburger {
        top: 8%;
        left: 90%;
    }
/*    2page*/
    .content h1 {
        font-size: 25px;
    }
/*    3page    */
    .add_info {
        width: 80%;
    }
    .skill h1 {
        font-size: 14px;
    }
    .CV_left h1 {
        padding-bottom: 18px;
    }
    .width {
        width: 45%;
    }
/*    4page*/
    .contacts {
        height: 150vh;
    }
    .data {
        flex-direction: column;
    }
    .map {
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .adress_right {
        margin-left: 1%;
    }
    
/*    footer*/

/*    up*/
    #Btn_up {
        margin-left: -5%;
    }
 
} 

@media only screen and (max-width: 984px) {
    /*    1page*/
    .hamburger {
        left: 93%;
    }
/*    2page*/
    main .content {
        flex-direction: column;
    }
    .about_me {
        max-width: 90%;
        padding-bottom: 20px;
    }
    .content h1 {
        text-align: center;
    }
    .middle_block {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
} 

@media only screen and (max-width: 800px) {
    /*    1page*/
    .text {
        padding-top: 10%;
        font-size: 30px;
    }
    .description {
        padding-top: 10%;
        font-size: 30px;
    }
    
} 

@media only screen and (max-width: 760px) {
    /*    1page*/
   .text {
        font-size: 30px;
        padding-bottom: 20%;
    }
    .description {
        font-size: 30px;
        padding: 10%;
        
    }
    .heading {
        margin: auto;
    }
/*    4page    */

    iframe {
        width: 400px;
        height: 280px;
    }
/*    hamburger*/
    .hamburger {
        left: 88%;
    }
    /*    up*/
    #Btn_up {
        margin-left: -12%;
    }
    
    .adress_right {
        margin-bottom: 10px;
    }
    
    .footer{
        bottom: 0;
        padding-top: 20px;
    }
 
} 

@media only screen and (max-width: 480px) {
    /*    4page    */
    .contacts {
        height: 120vh;
    }
    iframe {
        width: 300px;
        height: 220px;
    }
     /*    up*/
    #Btn_up {
        margin-left: -15%;
    }
} 

@media only screen and (max-width: 420px) {
    /*    1page*/
    .description {
        font-size: 17px;
    }
    .circle {
        height: 70px;
        width: 70px;
    }
    .hamburger {
      left: 85%;  
    }
    .text {
        padding: 15% 5% 5% 5%;
    }
    
    .hamLi li {
        font-size: 30px;
        width: 80%;
        margin-top: 5%;
    }
     .hamLi li:first-child {
        margin-top: 45%;
    }
    /*    2page*/
    .about_me h1 {
        font-size: 25px;
    }
    main .content {
        padding: 20px;
        
    }
    .about_me {
        padding-bottom: 20px;
    }
    .middle_block {
        margin: 0 auto;
    }
    .personal_info h1 {
        font-size: 25px;
        padding-top: 20px;
    }
/*    up*/
    #Btn_up {
        width: 50px;
        height: 50px;
        font-size: 30px;
        margin-left: -18%;
    }
    
/*    hamburger*/
    .hamburger {
        width: 60px;
        height: 60px;
        top: 6%;
    }
    .hamburger span {
        width: 45px;
    }
} 


@media only screen and (max-width: 760px) {
    /*    1page*/
   .text {
        font-size: 30px;
        padding-bottom: 20%;
    }
    .description {
        font-size: 30px;
        padding: 10%;
        
    }
    .heading {
        margin: auto;
    }
/*    4page    */

    iframe {
        width: 400px;
        height: 280px;
    }
/*    hamburger*/
    .hamburger {
        left: 88%;
    }
    /*    up*/
    #Btn_up {
        margin-left: -12%;
    }
    
    .adress_right {
        margin-bottom: 10px;
    }
    
    .footer{
        bottom: 0;
        padding-top: 20px;
    }
 
} 

@media only screen and (max-width: 480px) {
    /*    4page    */
    .contacts {
        height: 120vh;
    }
    iframe {
        width: 300px;
        height: 220px;
    }
     /*    up*/
    #Btn_up {
        margin-left: -15%;
    }
} 

@media only screen and (max-width: 400px) {
    .adress {
        margin-left: 40px;
        font-size: 12px;
        overflow: hidden;
    }
} 

