* {
    margin: 0;                               
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
	display: -webkit-flex;	
	display: -moz-flex;	
	display: -o-flex;	
	display: -ms-flex;	
	display: flex;	
	flex-direction: column;
	min-height: 100vh;
}
header, footer {
	flex: 0;
}
main {
	flex: 1;
    margin-top: 5%;
}
a {
	color: #fc9010;
	text-decoration: none;
}
img {
	height: auto;
	max-width: 100%;
}
.color {
    color: #fc9010;
}

/*header*/
header {
    background: url(../img/background1.jpg) no-repeat top /cover;
    height: 100vh;
}
.content {
    margin-top: 2%;
}
.circle {
    background-color: #fff;
    height: 100px;
    width: 100px;
    border: 5px solid #007717;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    font-size: 20px;
    font-weight: bold;
}
header p {
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: -5%;
    color: #0a6308;
}

/*button up*/
#Btn_up {
    position: fixed;
    font-size: 50px;
    background-color: #fff;
    color: black;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 2;
    top: 85%;
    left: 93%;
    border-radius: 50%;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: 0.2s;
}
#Btn_up.show {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

/*burger-menu*/
.hamburger {
    width: 80px;
    height: 80px;
    position: fixed;
    background: rgb(3, 10, 43);
    float: right;
    right: 5%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 2;
   }
.hamburger span {
    display: block;
    width: 60px;
    height: 6px;
    position: fixed;
    top: 47%;
    right: -25%;
    right: -25%;
    transform: translate(-50%, -50%);
    background: #fff;
    transition: .5s;
    box-shadow: 0 2px 2px rgba(0,0,0, .20);
}
.hamburger span:nth-child(1) {
    transform: translate(-50%, -50%) translateY(-20px);
    transition: .5s;
}
.hamburger span:nth-child(4) {
    transform: translate(-50%, -50%) translateY(20px);
    transition: .5s;
}
.hamburger.active span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
    transition-delay: .2s;
}
.hamburger.active span:nth-child(4) {
    transform: translate(-50%, -50%) rotate(45deg);
    transition-delay: .2s;
}
.hamburger.active span:nth-child(2) {
    transform: translate(-50%, -50%) ;
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: translate(-50%, -50%);
    opacity: 0;
}

/*modal*/

.hamLi {
    display: none;
    transition-delay: .2s;
 }
.open {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: darkslategrey;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    padding-top: 10%;
    transition-delay: .2s;
    opacity: .8;
}

.hamLi li {
    color: white;
    font-weight: 700;
    font-size: 30px;
    width: 20%;
    text-transform: uppercase;
    list-style-type: none;
}
.hamLi li:hover {
    background-color: red;
}
.heading {
    height: 80px;
    width: 300px;
    border: 2px solid green;
    color: #1e3a1a;
    margin-left: 40%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}
.description {
    text-align: center;
    margin-top: 1%;
    color: #1e3a1a;
    font-weight: bold;
}
/*main*/
.block_about {
    background: #eef2ed;
    margin-top: -5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about h4 {
    margin-top: 2%;
}

.about div {
    border-bottom: 2px solid black;
    width: 18%;
    margin-top: 3%;
}
main .content {
    display: flex;
    justify-content: space-between;
/*    margin-left: 2%;*/
    padding: 50px;
    flex-wrap: wrap;
}
.about_me {
    max-width: 30%;
}
.personal_info {
    margin-right: 2%;
    margin-left: 2%;
}

.photo {
    margin-left: 2%;
}
.photo img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}
.content h1 {
    margin-bottom: 5%;
}
.photo h1 {
    text-align: center;
    margin-bottom: 8%;
}
.personal_info  p {
    margin-top: 2%;
}
.social {
    padding-top: 20px;
}
.social i {
    padding-right: 10px;
}
.social .fab {
    cursor: pointer;
}


/*CV*/
.CV {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.CV_info h1 {
    text-align: center;
    margin-top: 5%;
}
.CV_info h4 {
    text-align: center;
    margin-top: 2%;
}
hr {
    width: 8%;
    margin: 0 auto;
    margin-top: 3%;
}


.skill {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.skill h1 {
    text-transform: uppercase;
    font-size: 20px;
}
.skill i {
    padding: 5% 0 5%;
}
.width {
    width: 40%;
}
.CV_left {
     border-right: 1px solid #bec1bd;
     height: 400px;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     padding-right: 2%;
}
.ganga {
    font-size: 50px;
}
.skill_style {
    background-color: red;
    color: aliceblue;
    padding: 0 15px 0 15px;
    margin: 2% 0 ;
}
.skill_info {
    direction: rtl;
}


/*right*/
.CV_right {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    float: left; 
}
.book {
    font-size: 50px;
}
.CV_right .pp {
    margin-right: auto;
}


/*add-info*/
.add_info{
    margin: 2% auto;
    width: 30%;
}
.add_info h4 {
    text-transform: uppercase;
    text-align: center;
}
li {
    margin-top: 2%;
}
li span {
    font-weight: bold;
}

/*contacts*/
.contacts {
    height: 110vh;
    background-color: #eef2ed;
}
.contacts_info {
    text-align: center;
}
.contacts_info h1 {
    padding: 2% 0 2%;
}

.data {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.adress {
     margin-top: 2%;
     display: flex;
     justify-content: space-around;
}
.adress i{
   font-size: 50px; 
}
.adress p {
   margin-bottom: 13px;
}

.adress_right {
    margin-left: 90%;
}
.adress h4 {
    padding: 2% 0 2%;
}

/*footer*/

.footer {
    height: 20vh;
    background-color: #341c2f;
}
.footer p {
    color: azure;
    text-align: center;
    margin-top: 10vh;
}










